body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background: hsl(204, 43%, 93%);
  margin: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0;
}

@media (min-width: 400px) {
  .card-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 4px 15px 5px rgba(0, 0, 0, 0.1),
      -10px -5px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    align-items: center;
  }

  .header {
    padding: 40px;
    width: 100%;
  }

  .header h1 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 21px;
  }

  .header h2 {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 18px;
  }

  .header p {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
  }

  .content {
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 0;
    margin-top: 10px;
  }

  .row p {
    margin-left: 15px;
    margin-top: 30px;
    color: #9deaeb;
  }

  .content h2 {
    font-size: 21px;
    margin-bottom: -10px;
  }

  .pricing {
    background-color: hsl(179, 62%, 43%);
    padding: 40px;
    border-radius: 0 0 0 10px;
  }

  .pricing p {
    margin-top: 25px;
  }

  button {
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    box-shadow: 0px 12px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .list {
    background-color: #4abebd;
    padding: 40px;
    border-radius: 0 0 10px 0;
  }

  .list ul {
    color: #9deaeb;
    font-size: 14px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 40px;
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}

.attribution {
  font-size: 11px;
  position: absolute;
  top: 97%;
  left: 39%;
}
.attribution a {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}
